<div id="login-container" class="container-fluid">
  <div class="modal-dialog login signup">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-sm-24  login__form__title">
          <span class="semibold">Start your FREE Beta Access</span>
        </div>
        <!--<div class="col-xs-12 login__cta__title">-->
        <!--</div>-->
      </div>
      <div class="modal-body">
        <form method="POST" ng-submit="vm.register()">
          <div class="row">
            <div class="row-height">
              <div class="col-sm-6 col-xs-height login__form">
                <div class="inside">
                  <p>
                    Setup your account bellow, then start your free access.
                  </p>
                  <h4 class="subtitle">Create your account</h4>

                  <div class="form-group">
                    <label for="email" class="control-label">Email</label>
                    <input type="email" class="form-control input-lg" id="email" name="email"
                           ng-model="vm.registerUser.email"
                           title="Enter your email" placeholder="Enter your email" required>
                    <span class="help-block"></span>
                  </div>
                  <div class="form-group" ng-class="vm.errors.password">
                    <label for="password" class="control-label">Password</label>
                    <input type="password" class="form-control input-lg" id="password" name="password"
                           ng-model="vm.registerUser.password"
                           title="Please enter your password" placeholder="Enter your password" required>
                    <span class="help-block"></span>
                  </div>
                  <div class="form-group" ng-class="vm.errors.password2">
                    <label for="password2" class="control-label">Confirm Password</label>
                    <input type="password" class="form-control input-lg" id="password2" name="password2"
                           ng-model="vm.registerUser.password2"
                           title="Please confirm your password" placeholder="Confirm your password" required>
                    <span class="help-block"></span>
                  </div>

                </div>
              </div>
              <div class="col-sm-6 col-xs-height login__form login__form--right">
                <div class="inside">
                  <p>Enter a domain you want to use: </p>
                  <div class="form-group">
                    <label for="domain-name" class="control-label">Domain name</label>
                    <input type="text" class="form-control input-lg" id="domain-name" name="domainName"
                           ng-model="vm.registerUser.domainName"
                           title="Domain name" placeholder="Domain name" required>
                    <span class="help-block"></span>
                  </div>
                  <div class="form-group">
                    <label for="domain-url" class="control-label">Domain url</label>
                    <input type="text" class="form-control input-lg" id="domain-url" name="domainUrl"
                           ng-model="vm.registerUser.domainUrl"
                           title="Domain url" placeholder="Domain url" required>
                    <span class="help-block"></span>
                  </div>
                  <div class="form-group">
                    <input type="submit" class="btn btn-lg btn-success col-xs-24" value="Create my Account">
                  </div>
                  <div class="form-group">
                    <p class="" ng-if="vm.registerError">
                      {{vm.registerError}}
                    </p>
                    <ul ng-if="vm.serverError">
                      <li ng-repeat="(field, messages) in vm.serverError">{{messages[0]}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <p class="watermark">alex.<span>io</span></p>
  </div>
</div>
