<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <title>alex.io: Micro Surveys for User Insights & Feedback</title>
  <meta property="og:url"           content="http://alex.io/r/{{user.referralId}}" />
  <meta property="og:title"         content="alex.io: Micro Surveys for User Insights & Feedback" />
  <meta property="og:description"   content="Use micro-surveys to learn how people think about buying from you, then use what you learn to make changes your site to make even more people buy from you!" />
  <meta property="og:image"         content="http://alex.io/home/img/alexio_social.png" />
  <!--<meta name="description" content="Use micro-surveys to learn how people think about buying from you, then use what you learn to make changes to your site that make more people buy." />-->

  <link rel="apple-touch-icon" sizes="57x57" href="home/img/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="home/img/apple-touch-icon-60x60.png">
  <link rel="icon" type="image/png" href="home/img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="home/img/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="home/assets/manifest.json">
  <link rel="mask-icon" href="home/img/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="alex.io">
  <meta name="application-name" content="alex.io">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css" href="home/css/fonts.css">
  <link rel="stylesheet" type="text/css" href="home/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="home/css/style.css">
  <link rel="stylesheet" type="text/css" href="home/css/setup_steps.css">
  <link rel="stylesheet" type="text/css" href="home/css/responsive.css">
  <link rel="stylesheet" type="text/css" href="home/css/libs/jquery.bxslider.css">

  <!--Opitmizly-->
  <script src="https://cdn.optimizely.com/js/4059249487.js"></script>
</head>
<body>
<!--Google DataLayer-->
<script>dataLayer=[{'alexioRef': '{{user.referralId}}'}]</script>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WVR2VT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WVR2VT');</script>
<!-- End Google Tag Manager -->
<div class="main-wrapper">
  <div class="main-header steps">
    <div class="site-container">
    <span class="logo-wrap">
      <a href="/" class="logo">alex<span>.io</span></a>
      <span class="motto">Instant Micro-Surveys & Insights</span>
    </span>
      <ul id="header_step_list" class="steps-list active_3">
        <li class="one active">
        <span class="step-wrap">
          <i class="number">1</i>
        </span>
          <span class="text">Choose Question</span>
        </li>
        <li class="two active last_3">
          <div class="step-wrap">
            <i class="number">2</i>
          </div>
          <span class="text">Edit Question</span>
        </li>
        <li class="three active current last_2">
          <div class="step-wrap">
            <i class="number">3</i>
            <div class="pointer-box">
              <i class="pointer-arrow"></i>
              <small class="note">You're here!</small>
            </div>
          </div>
          <span class="text">Account Details</span>
        </li>
        <li class="four last_1">
          <div class="step-wrap">
            <i class="number">4</i>
          </div>
          <span class="text">Free Beta</span>
        </li>
      </ul>
      <a href="#" class="topnav-toggle">
        <i class="icon"></i>
        <span>Menu</span>
      </a>
      <div class="topnav-wrap">
        <a href="#" class="nav-toggle-mobile"></a>
        <nav class="auth-nav">
          <a href="/dashboard" class="login">Login <i>&#8595;</i></a>
        </nav>
        <button class="green-btn dashboard">Dashboard</button>
      </div>
    </div>
  </div>
  <!-- /.main-header -->

  <div class="setup-wrapper site-loaded" style="background-image: url(home/img/screenshot.jpg)">
    <div class="site-container">
      <section class="setup-wizard-wrap">
        <header class="setup-header">
          <aside class="greeting-box account">
            <h1 class="big-headline">
              Start Your Free
              <br class="md-hidden" />
              Beta Trial
            </h1>
            <p class="text blue">Setup your account below, it is free during beta.</p>
            <div class="why-us-wrap sm-visible">
              <a href="#" class="scroll-to" data-target="#features">
                <i class="bulb-icon"></i>
                <span>Why choose us?</span>
                <i class="down-icon"></i>
              </a>
            </div>
            <span class="green-line"></span>
            <form class="account-form">
              <h5 class="md-headline">Create your Account:</h5>
              <div class="field-wrap">

                <input type="text" class="setup-field" placeholder="Enter your name" />
                <i class="icon-user"></i>
              </div>
              <div class="field-wrap">
                <input type="text" class="setup-field" placeholder="Enter work email" />
                <i class="form-envelope-icon"></i>
              </div>
              <div class="field-wrap">
                <input id="setup_acc_password" name="password" type="password" class="setup-field" placeholder="Enter a password" />
                <i class="form-lock-icon"></i>
                <div id="pass_tooltip" class="password-tooltip">
                  <h6 class="headline">Password security tips</h6>
                  <ul class="requirements-list">
                    <li id="pass_length">use at least 6 characters</li>
                    <li id="pass_mix">mix letters and numbers</li>
                    <li id="pass_char">use special characters ($,@,...)</li>
                  </ul>
                </div>
              </div>
              <div class="field-wrap">
                <input type="text" id="select_value" class="setup-field" placeholder="Job Role" />
                <select class="setup-field select styled-select" data-target="#select_value">
                  <option value="">Job Role</option>
                  <option value="1">Analyst</option>
                  <option value="2">Consultant</option>
                  <option value="3">Digital Marketer</option>
                  <option value="4">Product Manager</option>
                  <option value="5">Store Owner</option>
                  <option value="6">UX Designer</option>
                  <option value="7">Web Developer</option>
                  <option value="8">Other</option>
                </select>
                <i class="select-arrow"></i>
              </div>
              <div class="btn-wrap a-center">
                <button class="green-btn go account">
                  <strong>Start Beta Now</strong>
                  <span>Next Install Script</span>
                </button>
              </div>
            </form>
          </aside>
          <!-- /.greeting-box -->
          <aside class="account-plan-box">
            <ul id="features" class="account-step-list">
              <li>
                <span class="step">
                  <i>1</i>
                </span>
                <p class="text">
                  Get access to <strong>all features</strong> during beta.
                </p>
              </li>
              <li>
                <span class="step">
                  <i>2</i>
                </span>
                <p class="text">
                  <strong>After beta</strong>, you'll get a <strong>free trial</strong> with
                  <strong>all features</strong> enabled.
                </p>
              </li>
              <li>
                <span class="step">
                  <i>3</i>
                </span>
                <p class="text">
                  Beta user get <strong>enhanced support.</strong> We love ya!
                </p>
              </li>
              <li>
                <span class="step">
                  <i>4</i>
                </span>
                <p class="text">
                  Happy <strong>beta user guarantee!</strong>
                </p>
              </li>
            </ul>
            <div class="guarantee-box">
              <img src="home/img/content/guar_badge2.png" alt="30 Day Money Back" />
              <a href="#" data-toggle="modal" data-target="#guarantee_modal">
                Get Details on<br/> the Guarantee
              </a>
            </div>
          </aside>
        </header>
      </section>
      <!-- /.setup-wizard-wrap -->
    </div>
  </div>
  <!-- /.setup-wrapper -->

  <footer class="main-footer smaller">
    <div class="site-container">
      <span class="copy"><a href="/">alex.io</a> All rights reserved, 2016</span>
      <nav class="bottom-nav">
        <a href="/terms">Terms of Service</a>
        <a href="/privacy">Privacy Policy</a>
      </nav>
      <a href="#" class="norton-link" data-toggle="modal" data-target="#norton_modal">
        <img src="home/img/footer_norton.png" alt="Norton" />
      </a>
    </div>
  </footer>
</div>

<a href="#" class="scroll-top"></a>

<div id="guarantee_modal" class="popup-wrapper">
  <div class="popup-box white guarantee">
    <a href="#" class="close-popup"></a>
    <div class="box a-center sm-visible margin20bottom">
      <img src="home/img/content/guar_badge2.png" alt="30 Day Money Back" width="130px" />
    </div>
    <h5 class="modal-headline">100% No-Risk 30-Day Money Back Guarantee</h5>
    <p class="md-headline">The Guarantee is in addition to your free trial.</p>
    <p class="text small">
      You are fully protected by our money back guarantee.
    </p>
    <div class="col-box">
      <div class="col-7">
        <p class="text small">
          First we're going to give you a 30-day free trial to see how you like alex.io.
          Then in the following 30 days, after the free trial ends, if you decide you're not
          happy with the value you're getting from alex.io, we'll REFUND your money. No questions
          asked.
        </p>
        <p class="text small">
          We're so confident you'll be happy with us, that we're willing to give you up to 60 days
          to make you your mind. 30 days of a free-trial, and an additional 30 days where you can
          get your money back if you're not quite sure.
        </p>
      </div>
      <div class="col-5 a-center sm-hidden">
        <img src="home/img/content/guar_badge2.png" alt="30 Day Money Back" />
      </div>
    </div>
    <p class="text small margin20top">
      When we sat down and came up with this offer, our thought was this:
      <strong class="text">
        we want to make sure there's no way you could lose by trying us out.
        How'd we do? Is there any reason you wouldn't give alex.io a try?
        Let us know in the comment box below:
      </strong>
    </p>
    <textarea class="setup-popup-field textarea margin30top" placeholder="Enter your feedback here, and tell us why:"></textarea>
    <div class="box margin10top a-center">
      <button class="green-btn go">Send my feedback</button>
    </div>
  </div>
</div>
<!-- /.popup-wrapper -->


<!--Face book api-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Twitter code-->
<script>
  window.twttr = (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    t._e = [];
    t.ready = function (f) {
      t._e.push(f);
    };
    return t;
  }(document, "script", "twitter-wjs"));
</script>
<!-- /Twitter code-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="home/js/libs/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="home/js/main.js"></script>
<script type="text/javascript" src="home/js/setup_wizard.js"></script>
<script type="text/javascript" src="home/js/referralJQ.js"></script>
<script type="text/javascript" src="home/js/social-api.js"></script>
<script src="https://apis.google.com/js/client.js"></script>
</body>
</html>
