<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <title>alex.io: Micro Surveys for User Insights & Feedback</title>
  <meta property="og:url"           content="http://alex.io/r/{{user.referralId}}" />
  <meta property="og:title"         content="alex.io: Micro Surveys for User Insights & Feedback" />
  <meta property="og:description"   content="Use micro-surveys to learn how people think about buying from you, then use what you learn to make changes your site to make even more people buy from you!" />
  <meta property="og:image"         content="http://alex.io/home/img/alexio_social.png" />
  <!--<meta name="description" content="Use micro-surveys to learn how people think about buying from you, then use what you learn to make changes to your site that make more people buy." />-->

  <link rel="apple-touch-icon" sizes="57x57" href="home/img/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="home/img/apple-touch-icon-60x60.png">
  <link rel="icon" type="image/png" href="home/img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="home/img/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="home/assets/manifest.json">
  <link rel="mask-icon" href="home/img/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="alex.io">
  <meta name="application-name" content="alex.io">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css" href="home/css/fonts.css">
  <link rel="stylesheet" type="text/css" href="home/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="home/css/style.css">
  <link rel="stylesheet" type="text/css" href="home/css/setup_steps.css">
  <link rel="stylesheet" type="text/css" href="home/css/responsive.css">
  <link rel="stylesheet" type="text/css" href="home/css/libs/jquery.bxslider.css">

  <!--Opitmizly-->
  <script src="https://cdn.optimizely.com/js/4059249487.js"></script>
</head>
<body>
<!--Google DataLayer-->
<script>dataLayer=[{'alexioRef': '{{user.referralId}}'}]</script>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WVR2VT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WVR2VT');</script>
<!-- End Google Tag Manager -->
<div class="main-wrapper">
  <div class="main-header steps">
    <div class="site-container">
    <span class="logo-wrap">
      <a href="/" class="logo">alex<span>.io</span></a>
      <span class="motto">Instant Micro-Surveys & Insights</span>
    </span>
      <ul id="header_step_list" class="steps-list two-steps active_1">
        <li class="one active current">
        <span class="step-wrap">
          <i class="number">1</i>
          <div class="pointer-box">
            <i class="pointer-arrow"></i>
            <small class="note">You're here!</small>
          </div>
        </span>
          <span class="text">Script Install</span>
        </li>
        <li class="two last_1">
          <div class="step-wrap">
            <i class="number">2</i>
          </div>
          <span class="text">Launch Micro-Survey</span>
        </li>
       </ul>
      <a href="#" class="topnav-toggle">
        <i class="icon"></i>
        <span>Menu</span>
      </a>
      <div class="topnav-wrap">
        <a href="#" class="nav-toggle-mobile"></a>
        <nav class="auth-nav">
          <a href="/dashboard" class="login">Login <i>&#8595;</i></a>
        </nav>
        <button class="green-btn dashboard">Dashboard</button>
      </div>
    </div>
  </div>
  <!-- /.main-header -->

  <div class="setup-wrapper site-loaded" style="background-image: url(home/img/screenshot.jpg)">
    <div class="site-container">
      <section class="setup-wizard-wrap">
        <header class="setup-header">
          <aside class="greeting-box install">
            <h1 class="big-headline">Install The alex.io Script Below</h1>
            <p class="text blue">Just paste this code into your website</p>
            <span class="green-line"></span>
            <p class="text blue headline">
              <strong>Paste this code into page on your site right before the closing HTML &lt;/header&gt; tag.</strong>
            </p>
            <div class="textarea-wrap">
              <textarea id="code_install" class="code-area" readonly>
&lt;script&gt;
  var _gscq = _gscq || [];
  _gscq.push(['language', navigator.language]);
  (function() {
  var gscw = document.createElement('script');
  gscw.type = 'text/javascript'; gscw.async = true;
  gscw.src = '//widgets.com/10990/script.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gscw, s);
  })();
&lt;/script&gt;</textarea>
              <a href="#" class="copy-to" data-target="#code_install">
                <i class="copy-icon"></i>
                <span>Copy</span>
              </a>
            </div>
            <p class="text blue note">The code is safe and loads asynchronously, so it will not slow down your website.</p>
          </aside>
          <!-- /.greeting-box -->
        </header>
        <footer class="install-footer">
          <aside class="right-col">
            <button class="green-btn go verify">Verify Code Was Installed Correctly</button>
            <a href="#" class="grey-btn dashboard">
              <span>Take Me to The Dashboard, I'll Verify Later...</span>
              <i class="icon-right"></i>
            </a>
          </aside>
          <aside class="left-col">
            <a href="#" class="grey-btn" data-toggle="modal" data-target="#developer_msg_modal">
              <span>Send To a Developer</span>
              <i class="link-icon"></i>
            </a>
          </aside>
        </footer>
      </section>
      <!-- /.setup-wizard-wrap -->
    </div>
  </div>
  <!-- /.setup-wrapper -->

  <footer class="main-footer smaller">
    <div class="site-container">
      <span class="copy"><a href="/">alex.io</a> All rights reserved, 2016</span>
      <nav class="bottom-nav">
        <a href="/terms">Terms of Service</a>
        <a href="/privacy">Privacy Policy</a>
      </nav>
      <a href="#" class="norton-link" data-toggle="modal" data-target="#norton_modal">
        <img src="home/img/footer_norton.png" alt="Norton" />
      </a>
    </div>
  </footer>
</div>

<a href="#" class="scroll-top"></a>
<div id="copy_note" class="site-note success">
  The URL is<br/>Copied to Clipboard
</div>


<div id="developer_msg_modal" class="popup-wrapper">
  <div class="popup-box white wizard-install">
    <a href="#" class="close-popup"></a>
    <h5 class="modal-headline">
      Enter Details Below & Send Instructions
      <br class="md-hidden" />
      to Your Developer</h5>
    <div class="col-box">
      <div class="col-6">
        <input type="text" class="setup-popup-field" placeholder="Enter Developer's Name" />
      </div>
      <div class="col-6">
        <input type="text" class="setup-popup-field" placeholder="Enter Developer's E-mail" />
      </div>
      <div class="col-6">
        <input type="text" class="setup-popup-field" placeholder="Enter your name" />
      </div>
      <div class="col-6">
        <input type="text" class="setup-popup-field" placeholder="Enter your E-mail" />
      </div>
    </div>
    <p class="text blue headline">
      <strong>Paste this code into page on your site right before the closing HTML &lt;/header&gt; tag.</strong>
    </p>
    <textarea class="setup-popup-field codearea" readonly>
&lt;script&gt;
var _gscq = _gscq || [];
_gscq.push(['language', navigator.language]);
(function() {
var gscw = document.createElement('script');
gscw.type = 'text/javascript'; gscw.async = true;
gscw.src = '//widgets.com/10990/script.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(gscw, s);
})();
&lt;/script&gt;</textarea>
    <div class="col-box">
      <div class="col-6">
        <textarea class="setup-popup-field note" placeholder="Add a note to send with the above instructions if you'd like"></textarea>
      </div>
      <div class="col-6">
        <span class="checkbox-wrap">
          <input id="send_check" type="checkbox" class="check" />
          <label class="check-label" for="send_check">
            <span class="inner">Send a copy to my <br/>email address</span>
          </label>
        </span>
        <button class="green-btn go smlr">Send To a Developer</button>
      </div>
    </div>
  </div>
</div>
<!-- /.popup-wrapper -->


<!--Face book api-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Twitter code-->
<script>
  window.twttr = (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    t._e = [];
    t.ready = function (f) {
      t._e.push(f);
    };
    return t;
  }(document, "script", "twitter-wjs"));
</script>
<!-- /Twitter code-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="home/js/libs/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="home/js/main.js"></script>
<script type="text/javascript" src="home/js/setup_wizard.js"></script>
<script type="text/javascript" src="home/js/referralJQ.js"></script>
<script type="text/javascript" src="home/js/social-api.js"></script>
<script src="https://apis.google.com/js/client.js"></script>
</body>
</html>
