<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <title>Privacy Policy | alex.io: Micro Surveys for User Insights & Feedback</title>
  <meta name="description" content="Use micro-surveys to learn how people think about buying from you, then use what you learn to make changes to your site that make more people buy." />

  <link rel="apple-touch-icon" sizes="57x57" href="home/img/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="home/img/apple-touch-icon-60x60.png">
  <link rel="icon" type="image/png" href="home/img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="home/img/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="home/assets/manifest.json">
  <link rel="mask-icon" href="home/img/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="alex.io">
  <meta name="application-name" content="alex.io">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css" href="home/css/fonts.css">
  <link rel="stylesheet" type="text/css" href="home/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="home/css/style.css">
  <link rel="stylesheet" type="text/css" href="home/css/responsive.css">

  <!--Opitimizly plugin-->
  <script src="https://cdn.optimizely.com/js/4059249487.js"></script>
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WVR2VT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WVR2VT');</script>
<!-- End Google Tag Manager -->

<div class="main-wrapper">
  <div class="main-header">
    <div class="site-container">
      <span class="logo-wrap">
        <a href="/" class="logo">alex<span>.io</span></a>
        <span class="motto">Instant Micro-Surveys & Insights</span>
      </span>
      <a href="#" class="topnav-toggle">
        <i class="icon"></i>
        <span>Menu</span>
      </a>
      <div class="topnav-wrap">
        <a href="#" class="nav-toggle-mobile"></a>
        <nav class="auth-nav">
          <a href="/dashboard" class="login">Login <i>&#8595;</i></a>
        </nav>
      </div>
    </div>
  </div>
  <!-- /.main-header -->

  <div class="content-wrap">
    <div class="site-container">
      <h1 class="big-headline">Privacy Policy</h1>
      <p class="text">
        Your privacy is critically important to us.
        At alex.io we have a few fundamental principles:
      </p>
      <ul class="content-list">
        <li>We don't ask you for personal information unless we truly need it.</li>
        <li>
          We don't share your personal information with anyone except to comply
          with the law, develop our products, or protect our rights.
        </li>
      </ul>
      <p class="text">Below is our privacy policy which incorporates these goals:</p>
      <p class="text thin">
        Reyes Magos LLC.  operates alex.io. It is alex.io's policy to respect your privacy
        regarding any information we may collect while operating our websites.
      </p>
      <strong class="md-headline">Website Visitors</strong>
      <p class="text thin">
        Like most websites, alex.io collects non-personally-identifying information of the sort that
        web browsers and servers typically make available, such as the browser type, language preference,
        referring site, and the date and time of each visitor request. alex.io's purpose in collecting
        non-personally identifying information is to better understand how alex.io's visitors use its
        website. From time to time, alex.io may release non-personally-identifying information in the
        aggregate, e.g., by publishing a report on trends in the usage of its website.
      </p>
      <p class="text thin">
        alex.io also collects potentially personally-identifying information like Internet Protocol
        (IP). alex.io only discloses user IP addresses under the same circumstances that it uses and
        discloses personally-identifying information as described below.
      </p>
      <strong class="md-headline">Gathering of Personally-Identifying Information</strong>
      <p class="text thin">
        Certain visitors to alex.io's websites choose to interact with alex.io in ways that require
        alex.io to gather personally-identifying information. The amount and type of information that
        alex.io gathers depends on the nature of the interaction. For example, we ask visitors who sign
        up for alex.io to provide a username and email address. Those who engage in transactions with
        alex.io - by purchasing access to the alex.io's service, for example - are asked to provide additional
        information, including as necessary the personal and financial information required to process those
        transactions. In each case, alex.io collects such information only insofar as is necessary or appropriate
        to fulfill the purpose of the visitor's interaction with alex.io. alex.io does not disclose
        personally-identifying information other than as described below. And visitors can always refuse to
        supply personally-identifying information, with the caveat that it may prevent them from engaging in
        certain website-related activities.
      </p>
      <p class="text">
        Any of the information we collect from you may be used in one of the following ways:
      </p>
      <ul class="content-list">
        <li>
          To personalize your experience (your information helps us to
          better respond to your individual needs).
        </li>
        <li>
          To improve our website (we continually strive to improve our website offerings
          based on the information and feedback we receive from you).
        </li>
        <li>
          To improve customer service (your information helps us to more effectively
          respond to your customer service requests and support needs).
        </li>
        <li>
          To process transactions.
        </li>
        <li>
          The Google Analytics Advertising Features we have implemented collect data via Google
          advertising cookies and anonymous identifiers, in addition to data collected through
          a standard Google Analytics implementation.
        </li>
        <li>
          Our company and third-party vendors use first-party cookies (such as the Google Analytics cookie)
          or other first-party identifiers, and third-party cookies (such as the DoubleClick cookie) or other
          third-party identifiers together to interpret our visitors' browsing habits.
        </li>
        <li>
          Visitors can opt-out of the Google Analytics Advertising Features you use, including through Ads
          Settings, Ad Settings for mobile apps, or any other available means (for example, the NAI's consumer
          opt-out) by going to your google account settings and changing your preferences. Or using the following
          <a href="#">link</a>.
        </li>
      </ul>
      <strong class="md-headline">Aggregated Statistics</strong>
      <p class="text thin">
        alex.io may collect statistics about the behavior of visitors to its websites. However, alex.io does
        not disclose personally-identifying information other than as described below.
      </p>
      <strong class="md-headline">Protection of Certain Personally-Identifying Information</strong>
      <p class="text thin">
        alex.io discloses potentially personally-identifying and personally-identifying information only to
        those of its employees, contractors and affiliated organizations that (i) need to know that information
        in order to process it on alex.io's behalf or to provide services available at alex.io's websites, and
        (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated
        organizations may be located outside of your home country; by using alex.ios websites, you consent to
        the transfer of such information to them. alex.io will not rent or sell potentially personally-identifying
        and personally-identifying information to anyone. Other than to its employees, contractors and affiliated
        organizations, as described above, alex.io discloses potentially personally-identifying and
        personally-identifying information only in response to a subpoena, court order or other governmental request,
        or when alex.io believes in good faith that disclosure is reasonably necessary to protect the property or
        rights of alex.io, third parties or the public at large. If you are a registered user of the alex.io website
        and have supplied your email address, alex.io may occasionally send you an email to tell you about new
        features, solicit your feedback, or just keep you up to date with what's going on with alex.io and our product.
        If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve
        the right to publish it in order to help us clarify or respond to your request or to help us support other
        users. alex.io takes all measures reasonably necessary to protect against the unauthorized access, use,
        alteration or destruction of potentially personally-identifying and personally-identifying information.
      </p>
      <strong class="md-headline">Cookies</strong>
      <p class="text thin">
        A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's
        browser provides to the website each time the visitor returns. alex.io uses cookies to help alex.io
        identify and track visitors, their usage of alex.io website, and their website access preferences.
        alex.io visitors who do not wish to have cookies placed on their computers should set their browsers
        to refuse cookies before using alex.io's websites, with the drawback that certain features of alex.io's
        websites may not function properly without the aid of cookies.
      </p>
      <strong class="md-headline">Business Transfers</strong>
      <p class="text thin">
        If alex.io, or substantially all of its assets, were acquired, or in the unlikely event that alex.io
        goes out of business or enters bankruptcy, user information would be one of the assets that is transferred
        or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of
        alex.io may continue to use your personal information as set forth in this policy.
      </p>
      <strong class="md-headline">Privacy Policy Changes</strong>
      <p class="text thin">
        Although most changes are likely to be minor, alex.io may change its Privacy Policy from time to time,
        and in alex.io's sole discretion. alex.io encourages visitors to frequently check this page for any
        changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy
        will constitute your acceptance of such change.
      </p>
    </div>
  </div>

  <footer class="main-footer">
    <div class="site-container">
      <span class="copy"><a href="/">alex.io</a> All rights reserved, 2016</span>
      <nav class="bottom-nav">
        <a href="/terms">Terms of Service</a>
        <a href="/privacy">Privacy Policy</a>
      </nav>
      <a href="#" class="norton-link" data-toggle="modal" data-target="#mcafee_modal">
        <img src="home/img/footer_mcafee.png" alt="McAfee" />
      </a>
    </div>
  </footer>
</div>

<a href="#" class="scroll-top"></a>

<div id="mcafee_modal" class="popup-wrapper">
  <div class="popup-box white norton">
    <a href="#" class="close-popup"></a>
    <h5 class="modal-headline">Safe and Secure</h5>
    <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, impedit dolores
      molestias veritatis non, alias dolor fugiat possimus laborum cupiditate sunt,
      asperiores ut ratione eos deleniti voluptatum reiciendis obcaecati aut?
    </p>
    <div class="image-box margin20top">
      <img src="home/img/mcafee_secure_logo.png" alt="McAfee" width="210" class="norton-img" />
    </div>
  </div>
</div>
<!-- /.popup-wrapper -->

<!--Face book api-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Twitter code-->
<script>
  window.twttr = (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    t._e = [];
    t.ready = function (f) {
      t._e.push(f);
    };
    return t;
  }(document, "script", "twitter-wjs"));
</script>
<!-- /Twitter code-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="home/js/main.js"></script>
<script type="text/javascript" src="home/js/referralJQ.js"></script>
<script src="https://apis.google.com/js/client.js"></script>
<script> window.referralId = "{{user.referralId}}"; </script>
<!--<script src="home/home/js/bootstrap-tokenfield.min.js"></script>-->
</div>
</body>
</html>