<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <title>Privacy Policy | alex.io: Micro Surveys for User Insights & Feedback</title>
  <meta name="description" content="Use micro-surveys to learn how people think about buying from you, then use what you learn to make changes to your site that make more people buy." />

  <link rel="apple-touch-icon" sizes="57x57" href="home/img/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="home/img/apple-touch-icon-60x60.png">
  <link rel="icon" type="image/png" href="home/img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="home/img/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="home/assets/manifest.json">
  <link rel="mask-icon" href="home/img/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="alex.io">
  <meta name="application-name" content="alex.io">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css" href="home/css/fonts.css">
  <link rel="stylesheet" type="text/css" href="home/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="home/css/style.css">
  <link rel="stylesheet" type="text/css" href="home/css/responsive.css">

  <!--Opitimizly plugin-->
  <script src="https://cdn.optimizely.com/js/4059249487.js"></script>
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WVR2VT"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WVR2VT');</script>
<!-- End Google Tag Manager -->

<div class="main-wrapper">
  <div class="main-header">
    <div class="site-container">
      <span class="logo-wrap">
        <a href="/" class="logo">alex<span>.io</span></a>
        <span class="motto">Instant Micro-Surveys & Insights</span>
      </span>
      <a href="#" class="topnav-toggle">
        <i class="icon"></i>
        <span>Menu</span>
      </a>
      <div class="topnav-wrap">
        <a href="#" class="nav-toggle-mobile"></a>
        <nav class="auth-nav">
          <a href="/dashboard" class="login">Login <i>&#8595;</i></a>
        </nav>
      </div>
    </div>
  </div>
  <!-- /.main-header -->

  <div class="content-wrap">
    <div class="site-container">
      <h1 class="big-headline">Terms of Service ("Terms")</h1>
      <p class="text">Last updated: May 22, 2016</p>
      <p class="text thin">Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the http://alex.io website (the "Service") operated by Reyes Magos LLC ("us", "we", or "our").</p>
      <p class="text thin">Your access to and use of the Service is conditioned upon your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who wish to access or use the Service.</p>
      <p class="text thin">By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you do not have permission to access the Service.</p>
      <strong class="md-headline">Subscriptions</strong>
      <p class="text thin">Some parts of the Service are billed on a subscription basis ("Subscription(s)"). You will be billed in advance on a recurring and periodic basis ("Billing Cycle"). Billing cycles are set either on a monthly or annual basis, depending on the type of subscription plan you select when purchasing a Subscription.</p>
      <p class="text thin">At the end of each Billing Cycle, your Subscription will automatically renew under the exact same conditions unless you cancel it or Reyes Magos LLC cancels it. You may cancel your Subscription renewal either through your online account management page or by contacting Reyes Magos LLC customer support team.</p>
      <p class="text thin">A valid payment method, including credit card, is required to process the payment for your Subscription. You shall provide Reyes Magos LLC with accurate and complete billing information including full name, address, state, zip code, telephone number, and a valid payment method information. By submitting such payment information, you automatically authorize Reyes Magos LLC to charge all Subscription fees incurred through your account to any such payment instruments.</p>
      <p class="text thin">Should automatic billing fail to occur for any reason, Reyes Magos LLC will issue an electronic invoice indicating that you must proceed manually, within a certain deadline date, with the full payment corresponding to the billing period as indicated on the invoice.</p>
      <strong class="md-headline">Free Trial</strong>
      <p class="text thin">Reyes Magos LLC may, at its sole discretion, offer a Subscription with a free trial for a limited period of time ("Free Trial").</p>
      <p class="text thin">You may be required to enter your billing information in order to sign up for the Free Trial.</p>
      <p class="text thin">If you do enter your billing information when signing up for the Free Trial, you will not be charged by Reyes Magos LLC until the Free Trial has expired. On the last day of the Free Trial period, unless you cancelled your Subscription, you will be automatically charged the applicable Subscription fees for the type of Subscription you have selected.</p>
      <p class="text thin">At any time and without notice, Reyes Magos LLC reserves the right to (i) modify the terms and conditions of the Free Trial offer, or (ii) cancel such Free Trial offer.</p>
      <strong class="md-headline">Fee Changes</strong>
      <p class="text thin">Reyes Magos LLC, in its sole discretion and at any time, may modify the Subscription fees for the Subscriptions. Any Subscription fee change will become effective at the end of the then-current Billing Cycle.</p>
      <p class="text thin">Reyes Magos LLC will provide you with a reasonable prior notice of any change in Subscription fees to give you an opportunity to terminate your Subscription before such change becomes effective.</p>
      <p class="text thin">Your continued use of the Service after the Subscription fee change comes into effect constitutes your agreement to pay the modified Subscription fee amount.</p>
      <strong class="md-headline">Refunds</strong>
      <p class="text thin">Certain refund requests for Subscriptions may be considered by Reyes Magos LLC on a case-by-case basis and granted in sole discretion of Reyes Magos LLC.</p>
      <strong class="md-headline">Accounts</strong>
      <p class="text thin">When you create an account with us, you guarantee that you are above the age of 18, and that the information you provide us is accurate, complete, and current at all times. Inaccurate, incomplete, or obsolete information may result in the immediate termination of your account on the Service.</p>
      <p class="text thin">You are responsible for maintaining the confidentiality of your account and password, including but not limited to the restriction of access to your computer and/or account. You agree to accept responsibility for any and all activities or actions that occur under your account and/or password, whether your password is with our Service or a third-party service. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>
      <p class="text thin">You may not use as a username the name of another person or entity or that is not lawfully available for use, a name or trademark that is subject to any rights of another person or entity other than you, without appropriate authorization. You may not use as a username any name that is offensive, vulgar or obscene.</p>
      <strong class="md-headline">Intellectual Property</strong>
      <p class="text thin"> The Service and its original content, features and functionality are and will remain the exclusive property of Reyes Magos LLC and its licensors. The Service is protected by copyright, trademark, and other laws of both the United States and foreign countries. Our trademarks and trade dress may not be used in connection with any product or service without the prior written consent of Reyes Magos LLC.</p>
      <strong class="md-headline">Links To Other Web Sites</strong>
      <p class="text thin">Our Service may contain links to third party web sites or services that are not owned or controlled by Reyes Magos LLC.</p>
      <p class="text thin">Reyes Magos LLC has no control over, and assumes no responsibility for the content, privacy policies, or practices of any third party web sites or services. We do not warrant the offerings of any of these entities/individuals or their websites.</p>
      <p class="text thin">You acknowledge and agree that Reyes Magos LLC shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such third party web sites or services.</p>
      <p class="text thin">We strongly advise you to read the terms and conditions and privacy policies of any third party web sites or services that you visit.</p>
      <strong class="md-headline">Termination</strong>
      <p class="text thin">We may terminate or suspend your account and bar access to the Service immediately, without prior notice or liability, under our sole discretion, for any reason whatsoever and without limitation, including but not limited to a breach of the Terms.</p>
      <p class="text thin">If you wish to terminate your account, you may simply discontinue using the Service.</p>
      <p class="text thin">All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
      <strong class="md-headline">Indemnification</strong>
      <p class="text thin">You agree to defend, indemnify and hold harmless Reyes Magos LLC and its licensee and licensors, and their employees, contractors, agents, officers and directors, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney's fees), resulting from or arising out of a) your use and access of the Service, by you or any person using your account and password, or b) a breach of these Terms.</p>
      <strong class="md-headline">Limitation Of Liability</strong>
      <p class="text thin">In no event shall Reyes Magos LLC, nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for any indirect, incidental, special, consequential or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses, resulting from (i) your access to or use of or inability to access or use the Service; (ii) any conduct or content of any third party on the Service; (iii) any content obtained from the Service; and (iv) unauthorized access, use or alteration of your transmissions or content, whether based on warranty, contract, tort (including negligence) or any other legal theory, whether or not we have been informed of the possibility of such damage, and even if a remedy set forth herein is found to have failed of its essential purpose.</p>
      <strong class="md-headline">Disclaimer</strong>
      <p class="text thin">Your use of the Service is at your sole risk. The Service is provided on an "AS IS" and "AS AVAILABLE" basis. The Service is provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, non-infringement or course of performance.</p>
      <p class="text thin">Reyes Magos LLC its subsidiaries, affiliates, and its licensors do not warrant that a) the Service will function uninterrupted, secure or available at any particular time or location; b) any errors or defects will be corrected; c) the Service is free of viruses or other harmful components; or d) the results of using the Service will meet your requirements.</p>
      <strong class="md-headline">Exclusions</strong>
      <p class="text thin">Some jurisdictions do not allow the exclusion of certain warranties or the exclusion or limitation of liability for consequential or incidental damages, so the limitations above may not apply to you.</p>
      <strong class="md-headline">Governing Law</strong>
      <p class="text thin">These Terms shall be governed and construed in accordance with the laws of Nevada, United States, without regard to its conflict of law provisions.</p>
      <p class="text thin">Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have had between us regarding the Service.</p>
      <strong class="md-headline">Changes</strong>
      <p class="text thin">We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
      <p class="text thin">By continuing to access or use our Service after any revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, you are no longer authorized to use the Service.</p>
      <strong class="md-headline">Contact Us</strong>
      <p class="text thin">If you have any questions about these Terms, please contact us.</p>

    </div>
  </div>

  <footer class="main-footer">
    <div class="site-container">
      <span class="copy"><a href="/">alex.io</a> All rights reserved, 2016</span>
      <nav class="bottom-nav">
        <a href="/terms">Terms of Service</a>
        <a href="/privacy">Privacy Policy</a>
      </nav>
      <a href="#" class="norton-link" data-toggle="modal" data-target="#mcafee_modal">
        <img src="home/img/footer_mcafee.png" alt="McAfee" />
      </a>
    </div>
  </footer>
</div>

<a href="#" class="scroll-top"></a>

<div id="mcafee_modal" class="popup-wrapper">
  <div class="popup-box white norton">
    <a href="#" class="close-popup"></a>
    <h5 class="modal-headline">Safe and Secure</h5>
    <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, impedit dolores
      molestias veritatis non, alias dolor fugiat possimus laborum cupiditate sunt,
      asperiores ut ratione eos deleniti voluptatum reiciendis obcaecati aut?
    </p>
    <div class="image-box margin20top">
      <img src="home/img/mcafee_secure_logo.png" alt="McAfee" width="210" class="norton-img" />
    </div>
  </div>
</div>
<!-- /.popup-wrapper -->

<!--Face book api-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Twitter code-->
<script>
  window.twttr = (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    t._e = [];
    t.ready = function (f) {
      t._e.push(f);
    };
    return t;
  }(document, "script", "twitter-wjs"));
</script>
<!-- /Twitter code-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="home/js/main.js"></script>
<script type="text/javascript" src="home/js/referralJQ.js"></script>
<script src="https://apis.google.com/js/client.js"></script>
<script> window.referralId = "{{user.referralId}}"; </script>
<!--<script src="home/home/js/bootstrap-tokenfield.min.js"></script>-->
</div>
</body>
</html>