<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <title>alex.io: Micro Surveys for User Insights & Feedback</title>
  <meta name="description" content="Use micro-surveys to learn how people think about buying from you, then use what you learn to make changes to your site that make more people buy." />

  <link rel="apple-touch-icon" sizes="57x57" href="home/img/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="home/img/apple-touch-icon-60x60.png">
  <link rel="icon" type="image/png" href="home/img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="home/img/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="home/assets/manifest.json">
  <link rel="mask-icon" href="home/img/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="alex.io">
  <meta name="application-name" content="alex.io">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css" href="home/css/fonts.css">
  <link rel="stylesheet" type="text/css" href="home/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="home/css/style.css">
  <link rel="stylesheet" type="text/css" href="home/css/responsive.css">

  <!--Opitimizly plugin-->
  <script src="//cdn.optimizely.com/js/4795132942.js"></script>
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WVR2VT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WVR2VT');</script>
<!-- End Google Tag Manager -->

<div class="main-wrapper">
  <div class="main-header">
    <div class="site-container">
      <span class="logo-wrap">
        <a href="/" class="logo">alex<span>.io</span></a>
        <span class="motto">Instant Micro-Surveys & Insights</span>
      </span>
      <a href="#" class="topnav-toggle">
        <i class="icon"></i>
        <span>Menu</span>
      </a>
      <div class="topnav-wrap">
        <a href="#" class="nav-toggle-mobile"></a>
        <nav class="auth-nav">
          <a href="/dashboard" class="login">Login <i>&#8595;</i></a>
        </nav>
      </div>
    </div>
  </div>
  <!-- /.main-header -->

  <div class="green-note visible">
    <i class="check-icon"></i>
    That is <br/>
    some Fixed Note
  </div>
  <div class="content-wrap">
    <div class="site-container">
      <h1 class="big-headline">Big Headline</h1>
      <h2 class="section-headline box margin20bottom">Section Headline</h2>
      <h3 class="md-headline margin20bottom">Medium Headline</h3>
      <strong class="small-headline">Small Headline</strong>
      <ul class="content-list">
        <li>Content List.</li>
        <li>Lorem ipsum dolor sit amet, consectetur</li>
        <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa</li>
        <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco</li>
      </ul>
      <div class="box margin20bottom">
        <strong class="small-headline margin20bottom">Social Icons</strong>
        <nav class="social-nav">
          <a href="#" class="icon-facebook"></a>
          <a href="#" class="icon-twitter"></a>
          <a href="#" class="icon-mail"></a>
          <a href="#" class="icon-linkedin"></a>
          <a href="#" class="icon-angellist"></a>
        </nav>
      </div>
      <div class="box margin20bottom">
        <strong class="small-headline">Other Icons (resizeble via font-size, except first two)</strong>
        <p class="text">
          <i class="icon-check blue"></i>
          <i class="icon-check green"></i>
          <i class="icon-plus"></i>
          <i class="icon-flask"></i>
          <i class="icon-schedule"></i>
          <i class="icon-cancel"></i>
          <i class="icon-left-open-big"></i>
          <i class="icon-right-open-big"></i>
          <i class="icon-left-open"></i>
          <i class="icon-right-open"></i>
          <i class="icon-down-open"></i>
          <i class="icon-up-open"></i>
          <i class="icon-calendar"></i>
          <i class="icon-check-empty"></i>
          <i class="icon-ok-squared"></i>
        </p>
      </div>
      <div class="margin20top">
        <p class="text blue">Share this unique link:
        <input id="share_url" type="text" class="field small" value="alex.io/r/B9GC" readonly />
        <button class="button green lg copy-to" data-target="#share_url"><span>Copy URL</span></button>
        </p>
      </div>
      <p class="text margin20top">
        Simple text. Default<br/>
        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
        beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.
      </p>
      <p class="text thin">
        Simple text. Thinner<br/>
        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
        beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.
      </p>
      <p class="text blue">
        Simple text. Blue<br/>
        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
        beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.
      </p>
      <div class="box margin20top">
        <div class="margin20bottom">
          <button class="button">Button</button>
          <button class="button green">Button</button>
        </div>
        <div class="margin20bottom">
          <button class="button lg">Big Button</button>
          <button class="button green lg">Big Button</button>
        </div>
      </div>
      <div class="margin20bottom">
          <button class="green-btn">Site Green Button</button>
          <button class="green-btn ask">Green Question Button</button>
      </div>
      <div class="box margin20top">
        <div class="note-box">
          <i class="note-icon green"></i>
          <p class="text blue">
            This is note box. Sed ut perspiciatis unde omnis iste natus error
            sit voluptatem accusantium doloremque
          </p>
        </div>
      </div>
      <div class="infobox-with-image margin20top">
        <div class="info-col right">
          <img src="home/img/content/qpres_emotion.png" alt="Emotion" />
          <h3 class="box-headline">Infobox with Image</h3>
          <p class="text">
            This is an easy, no friction way to gauge how your user feels about their experience on
            your site. This type of questions will help you figure out whether a certain part of your
            site frustrates or delights them, or if they don't really care about it at all. From the
            insight you get here, you can craft your next micro survey to more deeply explore issues
            that are either frustrate or delight users. For example if you suspect users are having a
            hard time finding the right product after searching on an ecommerce store, you can use this
            question format to learn how the user feels about the search results they saw. Over time, you
            can use this data to improve products listed in search results.
          </p>
        </div>
        <aside class="img-col left">
          <img src="home/img/content/qpres_emoji_Q.png" alt="Emotion" />
        </aside>
      </div>
    </div>
  </div>

  <footer class="main-footer">
    <div class="site-container">
      <span class="copy"><a href="/">alex.io</a> All rights reserved, 2016</span>
      <nav class="bottom-nav">
        <a href="#">Terms of Use</a>
        <a href="#">Privacy Policy</a>
      </nav>
      <a href="#" class="norton-link" data-toggle="modal" data-target="#norton_modal">
        <img src="home/img/footer_norton.png" alt="Norton" />
      </a>
    </div>
  </footer>
</div>

<a href="#" class="scroll-top"></a>

<!--Face book api-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Twitter code-->
<script>
  window.twttr = (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    t._e = [];
    t.ready = function (f) {
      t._e.push(f);
    };
    return t;
  }(document, "script", "twitter-wjs"));
</script>
<!-- /Twitter code-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="home/js/main.js"></script>
<script type="text/javascript" src="home/js/referralJQ.js"></script>
<script src="https://apis.google.com/js/client.js"></script>
<script> window.referralId = "{{user.referralId}}"; </script>
<!--<script src="home/home/js/bootstrap-tokenfield.min.js"></script>-->
</div>
</body>
</html>