<div class="col-xs-24 view-content">
    <div class="row secondary-menu">
        <form class="form-inline filter-menu">
            <div class="col-xs-24 col-sm-11 secondary-menu__item">
                <h3 class="subtitle">My Surveys</h3>
            </div>
            <div class="form-group secondary-menu__item col-sm-13">
                <div class="row">
                  <div class="col-md-offset-14 col-md-10 col-sm-offset-10 col-sm-14 search-input">
                    <div class="input-group">
                      <input type="text" class="search-query form-control" ng-model="vm.filters.search" placeholder="Search" />
                      <span class="input-group-btn">
                          <button class="btn btn-default" type="button">
                            <span class="fa fa-search"></span>
                          </button>
                      </span>
                    </div>
                  </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
      <!--<div class="form-group secondary-menu__item col-sm-4">-->
        <!--<ui-select ng-model="vm.filters.surveysBy.selected" theme="bootstrap">-->
          <!--<ui-select-match>-->
            <!--<span ng-bind="$select.selected.name"></span>-->
          <!--</ui-select-match>-->
          <!--<ui-select-choices repeat="item in vm.filters.surveysBy.items">-->
            <!--<span ng-bind="item.name"></span>-->
          <!--</ui-select-choices>-->
        <!--</ui-select>-->
      <!--</div>-->
      <div class="form-group form-inline-group secondary-menu__item col-sm-5">
        <label for="responses" class="control-label">
          Responses
        </label>
        <ui-select class="fixed-width-select" id="responses" ng-model="vm.filters.responses.selected" theme="bootstrap">
          <ui-select-match>
            <span ng-bind="$select.selected.name"></span>
          </ui-select-match>
          <ui-select-choices repeat="item in vm.filters.responses.items">
            <span ng-bind="item.name"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group form-inline-group secondary-menu__item col-sm-7">
        <label for="created" class="control-label">Created</label>
        <br class="visible-sm-block visible-md-block" />
        <input type="text" id="created" class="form-control" uib-datepicker-popup="dd/MM/yy"
               ng-click="vm.filters.created.opened = true;"
               ng-model="vm.filters.created.date"
               is-open="vm.filters.created.opened"
               close-text="Close"/>
        <i class="fa fa-calendar"></i>
      </div>
    </div>
    <my-surveys surveys="vm.surveys" filters="vm.filters"></my-surveys>
</div>
